<% include ../../partials/header %>


<h1>This is userview page</h1>

<table>
	<caption>All user</caption>
	<thead>
		<tr>
			<th>user ID</th>
			<th>username</th>
			<th>password</th>
			<th>date created</th>
			<th>signature</th>
			<th>permission</th>
			<th>empolyee ID</th>
		</tr>
	</thead>
	
	<tbody>
		<% results.forEach(function(result){ %>
		<tr>
			<th><%=result.user_id%></th>
			<td><%=result.username%></td>
			<td><%=result.password%></td>
			<td><%=result.date_created%></td>
			<td><%=result.signature%></td>
			<td><%=result.permission%></td>
			<td><%=result.employee_id %></td>
		</tr>
		<% }); %>
	</tbody>
</table>


<a href="/user">Back to User page</a>

<% include ../../partials/footer %>